h1 {
	border-radius: 5px;
	font-family: Arial;
	font-size: 25px;
}
p{
	font-family: Arial;
	font-size: 5px;
}
table{
	padding: 2%;

}
td{
	padding: 10px;
	border-left: none;
	border-right: none;
	
	}

tr {
	background-color: #ffffff;
		border:none;
}
.espaco_esquerdo{
	padding-left: 5%;
}
.txtboxdois{
	width: 20%;
	border:none;
	padding: 10px;
    box-shadow: 1px 1px 5px #1F1F1F;
}
.txtboxdois:hover{

	box-shadow: 1px 1px 10px #000000;
	border:none;
}

.texto{
	font-family: Arial;
	font-size: 16px;
}
.txtbox{
	padding: 10px;
	border-radius: 5px;
    -moz-border-radius: 5px;	
    border:solid 1px;
    border-color: #7c7d7f;
  
}
.txtbox:hover{
}
.butom:hover{
	cursor: pointer;
	color: black;
	background-color: transparent;
	border-color: #3ec1d5;
	border: solid 3px;
	padding: 7px;
	border-color: #3ec1d5;

}
.butom{

	color: white;
	padding: 10px;
	background-color: #990000;
	border:none;
	border-radius: 20px;
    -moz-border-radius: 5px;
 }
 .butom:focus{
	outline: 0;
}
input{
   
    outline: 0;
}
.txtbox3{
	padding: 10px;
	border-radius: 5px;
    -moz-border-radius: 5px;	
    border:solid 1px;
    border-color: #7c7d7f;
  
}
.txtbox3:hover{
}

